:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-bg-color: #ee4d2d;
    --border-color: #dbdbdb;
}

* {
    box-sizing: inherit;
}

body{
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
}


